.header {
    grid-area: h;

    background-color: #35C0CD;
}

.logo {
    max-width: 60px;
}

.authBlock {
    margin-right: 15px;
    float: right;
}

.authBlock .userImg {
    width: 30px;
    height: ;
}