.headerContainer {
    grid-area: h;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: inherit;
    width: 100%;
    max-width: var(--screen-max-width);
    height: var(--header-height);
    z-index: 10;
    background-color: #35C0CD;
}

.logo {
    max-width: 60px;
}

.authBlock {
    margin-right: 15px;
    float: right;
}

.authBlock .userImg {
    width: 30px;
    height: auto;
}