.navContainer {
    position: relative;
    grid-area: n;
}

.nav {
    --nav-padding: 10px;
    position: fixed;
    top: var(--header-height);
    left: inherit;
    width: calc(var(--nav-width) - var(--nav-padding) * 2);
    padding: var(--nav-padding);
}

@media (min-width: 1630px) {
    .nav {
        padding-left: 0px;
    }
}

.shadowSection {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    padding: 1rem;
    background-color: var(--color-bg-section);
    border-radius: 15px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 3%);
}

.item a {
    color: var(--color-main);
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.item a:hover, .item a.active {
    color: var(--color-contrast);
}