/* Main */

.main {
    grid-area: main;
}

.bannerBlock {
    border-radius: 15px;
    width: 100%;
    height: 40vh;
    max-height: 300px;
    background: center / cover no-repeat url("https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg");
}

.descriptionBlock {
    --user-photo-size: 140px;

    display: grid;
    grid-template-columns: var(--user-photo-size) 5fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    min-height: calc(var(--user-photo-size) * 0.6);
}

.userPhoto {
    position: relative;
}

.userPhoto__imgContainer {
    --userPhoto__imgContainer-padding: 5px;

    position: absolute;
    padding: var(--userPhoto__imgContainer-padding);
    background-color: var(--color-bg-section);
    border-radius: 50%;
    top: -3.5rem;
}

.userPhoto__imgContainer img {
    width: calc(var(--user-photo-size) - 10px);
    height: auto;
    border-radius: 50%;
}

.changeUserPhoto__input {
    display: none;
}

.changeUserPhoto__label__text {
    display: none;
    opacity: 1;
    font-size: 0.9rem;
    text-align: center;
    transition: all ease-out .2s;
}

.changeUserPhoto__label__text_highlight {
    font-size: 1.1rem;
    color: var(--color-contrast);
}

.changeUserPhoto__label:hover .changeUserPhoto__label__text {
    display: initial;
}

.changeUserPhoto__label__textContainer {
    position: absolute;
    top: 0;
    display: grid;
    place-items: center;
    width: calc(var(--user-photo-size) - var(--userPhoto__imgContainer-padding));
    height: calc(var(--user-photo-size) - var(--userPhoto__imgContainer-padding));
    border-radius: 50%;
    cursor: pointer;
}

.changeUserPhoto__label:hover img {
    opacity: 0.5;
    cursor: pointer;
    transition: all ease-out .2s;
}

.fullName {
    font-size: 1.25rem;
    color: var(--color-main);
}

/* About */

.about {
    grid-area: about;
    font-size: 1rem;
    height: fit-content;
}

.about b {
    color: var(--color-main);
}

.data__contactsList__imgContainer {
    width: 30px;
    margin: .3rem;
}

.data__contactsList__imgContainer img {
    margin: 5%;
    width: 90%;
    transition: all ease-out .2s;
}

.data__contactsList__imgContainer:hover img {
    margin: 0;
    width: 100%;
}

.data__itemsContainer {
    margin: 0;
}

.data__lookingJob__text {
    margin-right: 0.3rem;
}

.data__lookingJob__checkMark {
    width: 1.3rem;
    height: auto;
}

/* Form */

.form__fieldsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
}

.form__contactsFields {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1.5rem;
}

.form__btn {
    font-size: 1rem;
    float: right;
}

.form__divider {
    margin: 0.3rem 0;
}