.appWrapper {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "h h h"
    "n c c";
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: var(--nav-width) 1fr;
}

.content {
    grid-area: c;
    padding: var(--sections-padding) var(--sections-padding) var(--sections-padding) 0px;
}

@media (min-width: 1630px) {
    .content {
        padding-right: 0px;
    }
}

.contentWidthLimiter {
    max-width: 75vw;
    margin: 0 auto;
}

@media (min-width: 1600px) {
    .contentWidthLimiter {
        max-width: calc(1600px * 0.75);
    }
}

@media (max-width: 1024px) {
    .contentWidthLimiter {
        max-width: 100%;
    }
}