html {
    --nav-width: 18vw;
    --header-height: 10vh;
    --footer-height: 5vh;
    --sections-padding: 1.5rem;
    --screen-max-width: 1600px;
    --color-main: #000;
    --color-text: #888;
    --color-contrast: #0055FF;
    --color-contrast-thin: rgba(0, 85, 255, 0.2);
    --color-contrast-1: #61dafb;
    --color-bg-page: #f9f9fd;
    --color-bg-section: #fff;
    --font-main: 'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --font-site-name: 'Fredoka One', cursive;
    --shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    --shadow-inset: 0px 0px 6px 0px rgba(0, 0, 0, 0.1) inset;
    color: var(--color-text);
    font-size: 13px;
    font-family: var(--font-main);
    font-weight: 500;
    line-height: 1.5;
    background: var(--color-bg-page);
}

@media (min-width: 1600px) {
    html {
        --nav-width: 260px;
        --header-height: 90px;
    }
}

@media (max-width: 1024px) {
    html {
        --nav-width: 21vw;
    }
}

body {
    min-height: 100vh;
    max-width: var(--screen-max-width);
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    background: var(--color-bg-page);
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    flex-grow: 1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title, .banner__title, .banner__txt, h1, h2, h3 {
    margin-bottom: 40px;
    font-size: 56px;
    font-family: var(--font);
    font-weight: normal;
}

.h3 {
    font-size: 30px;
    margin: 20px 0px;
}

.table-resp {
    overflow-x: auto;
}

a, .hover-highlight {
    color: var(--color-main);
    text-decoration: none !important;
    transition: all ease-out 0.2s;
}

a:hover, .hover-highlight:hover {
    color: var(--color-contrast);
}

p {
    margin: 0px;
}

/* TEXT KIT */

/* линия переноса */

.wrap-line {
    display: none;
}

@media (max-width: 1430px) AND (min-width: 992px) {
    .wrap-line {
        display: initial;
    }
}

.upcase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

/* ---------------------------------------------------- */

/* GRID ALIGN KIT */

.grid-items-center {
    display: grid;
    place-items: center;
}

/* ---------------------------------------------------- */

/* FLEX ALIGN KIT */

/* rows */

.flex-row-xd-yd {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-row-xc-yd {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flex-row-xc-yc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-xb-yc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row-xb-ys {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-row-xb-ystr {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.flex-row-xb-ye {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.flex-row-xs-yc {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-row-xs-ys {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.flex-row-xs-ye {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.flex-row-xs-yb {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.flex-row-xe-yc {
    display: flex;
    justify-content: end;
    align-items: center;
}

.flex-row-xe-yc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-row-xe-ye {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

/* columns */

.flex-col-xc-yc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-col-xc-ys {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.flex-col-xs-ys {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.flex-col-xs-yb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-col-xs-ye {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex-col-xe-ye {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

/* ---------------------------------------------------- */

/* UIkit */

.uk-notification-message {
    border-radius: 15px;
    box-shadow: var(--shadow);
}

/* ---------------------------------------------------- */